In [1]:
from footium_api import GqlConnection
from footium_api.queries import get_clubs_tournament_for_wallet, get_clubs_tournament_for_owners

gql = GqlConnection()

Find club_tournaments for a given wallet

In [2]:
from my_info import MyInfo
my_info = MyInfo()
wallet_address = my_info.get_wallets()[0]

In [3]:
club_tournaments = get_clubs_tournament_for_wallet(gql, wallet_address)

In [4]:
club_tournaments.head()

,name,division,position,league,tournament_name,tournament_type,owner_id,owner_address
id,,,,,,,,
2879,Rocklant,8,-1,77,Division 8 - League 77,LEAGUE,1405,0x0a032289552d817c15c185dbfdf43b812423ba82

In [5]:
owners = my_info.get_club_ids()
clubs = get_clubs_tournament_for_owners(gql, owners)

KeyError: "None of ['id'] are in the columns"

In [ ]:
# print a table with columns: id, name, division, position
print(clubs[["name", "division", "position"]].sort_values(["division", "position"]))

                    name  division  position
id
92           Midcot Park         3        -1
99          Roydne Villa         4        -1
143          King's Cash         4        -1
734          Rugh Rovers         5        -1
1732             Wornste         5        -1
2714            Kinfiell         5        -1
939     Neephamsey Villa         6        -1
981         Cleigh Villa         6        -1
1169    Fary Des Rangers         6        -1
1113        Mitcham Town         7        -1
2382         Newort City         7        -1
2383        Soughle Town         7        -1
595       Willshund City         8        -1
773            Beddleigh         8        -1
807   Newortford Rangers         8        -1
839         Hedford City         8        -1
841          Batfiellins         8        -1
982          Derbrielkle         8        -1
1218           St Ellant         8        -1
1298    Croydove Stanley         8        -1
1321     Suthwen Rangers         8        -1
1873        Spatfor City         8        -1
2142       Beladhal Town         8        -1
2199          Bast Dulsh         8        -1
2232      Patch Athletic         8        -1
2500           Nord Town         8        -1
2745       St High Villa         8        -1
2759            Martfort         8        -1
2837        Thampton Raw         8        -1
2855          Ruste City         8        -1
2929        Bartock City         8        -1
3044     Dawleyme Rovers         8        -1

In [ ]:
clubs.head()

,name,division,position,league,tournament_name,tournament_type,owner_id,owner_address
id,,,,,,,,
92,Midcot Park,3,-1,2,Division 3 - League 2,LEAGUE,78,0x3a54470741cdf4bdcb1855b71d0a63622a0c136f
99,Roydne Villa,4,-1,1,Division 4 - League 1,LEAGUE,85,0x75db607aecf4f7f891d13b95c1c0ccc84c45c9fb
143,King's Cash,4,-1,1,Division 4 - League 1,LEAGUE,102,0x0cac51d0d54f1405c8f1ec3f37a848c3f4564db2
734,Rugh Rovers,5,-1,5,Division 5 - League 5,LEAGUE,462,0x422621c28f4638dbf5ea9561fd1800892227b9ea
1732,Wornste,5,-1,14,Division 5 - League 14,LEAGUE,1314,0x85d66018bbe0b393af753b86c1881dfca7225731

In [ ]:
# print order by position
print(clubs[["name", "division", "position"]].sort_values(["position", "division"]))

                    name  division  position
id
92           Midcot Park         3        -1
99          Roydne Villa         4        -1
143          King's Cash         4        -1
734          Rugh Rovers         5        -1
1732             Wornste         5        -1
2714            Kinfiell         5        -1
939     Neephamsey Villa         6        -1
981         Cleigh Villa         6        -1
1169    Fary Des Rangers         6        -1
1113        Mitcham Town         7        -1
2382         Newort City         7        -1
2383        Soughle Town         7        -1
595       Willshund City         8        -1
773            Beddleigh         8        -1
807   Newortford Rangers         8        -1
839         Hedford City         8        -1
841          Batfiellins         8        -1
982          Derbrielkle         8        -1
1218           St Ellant         8        -1
1298    Croydove Stanley         8        -1
1321     Suthwen Rangers         8        -1
1873        Spatfor City         8        -1
2142       Beladhal Town         8        -1
2199          Bast Dulsh         8        -1
2232      Patch Athletic         8        -1
2500           Nord Town         8        -1
2745       St High Villa         8        -1
2759            Martfort         8        -1
2837        Thampton Raw         8        -1
2855          Ruste City         8        -1
2929        Bartock City         8        -1
3044     Dawleyme Rovers         8        -1

In [ ]:
# save to csv
# clubs[["name", "division", "position", "owner_id", "owner_address"]].sort_values(
#     ["division", "position"]
# ).to_csv("clubs.csv")