In [9]:
from footium_api import GqlConnection
from footium_api.queries import get_clubs_tournament_for_wallet, get_clubs_tournament_for_owners

gql = GqlConnection()

Find club_tournaments for a given wallet

In [2]:
wallet_address = "0x0a032289552d817c15c185dbfdf43b812423ba82"

In [7]:
club_tournaments = get_clubs_tournament_for_wallet(gql, wallet_address)

In [8]:
club_tournaments.head()

,name,division,position,league,tournament_name,tournament_type,owner_id,owner_address
id,,,,,,,,
2879,Rocklant,8,-1,77,Division 8 - League 77,LEAGUE,1405,0x0a032289552d817c15c185dbfdf43b812423ba82

In [10]:
owners = [
    1164,
    65,
    72,
    1079,
    1405,
    1413,
    1414,
    1415,
    1416,
    1417,
]
clubs = get_clubs_tournament_for_owners(gql, owners)

In [11]:
# print a table with columns: id, name, division, position
print(clubs[["name", "division", "position"]].sort_values(["division", "position"]))

                       name  division  position
id
78             Bead Stanley         3        -1
85               Nordenhave         3        -1
102             Martot Park         4        -1
462           Emston Albion         5        -1
676           Sough Rangers         5        -1
1077        Leottle Rangers         5        -1
1314           Wirew Aylact         5        -1
1315        Sketfielke Park         5        -1
1450           Cleccle City         5        -1
1511         Ston Roch Town         5        -1
2715         Tawle Athletic         5        -1
2774            Muck Rovers         5        -1
2815     Poth Ear Wanderers         5        -1
706           Strer Rangers         6        -1
728                Tortford         6        -1
894     Coldon-up Wanderers         6        -1
1901       Mersfor Newsbort         6        -1
2388    Louryhitwool Albion         6        -1
604             Hart Rovers         7        -1
2180            Towsburmord         7        -1
2228            Ard Rangers         7        -1
2897           Ken Athletic         7        -1
498              Bred Villa         8        -1
503             Cole Albion         8        -1
521                 Hareham         8        -1
523           Holsover Park         8        -1
577      Blandsham Athletic         8        -1
1033           Wime Stanley         8        -1
1198         Farwood United         8        -1
1278  Accretworuth Athletic         8        -1
1291          Crach Rangers         8        -1
1302              Crimblech         8        -1
1332              Lowsbouth         8        -1
1508          Rydowle Villa         8        -1
1811               Soudstle         8        -1
1831          Bolebrielbury         8        -1
1834                 Alford         8        -1
2320       Trougham Rangers         8        -1
2453           Petcham City         8        -1
2551             Wood Villa         8        -1
2659             Weshungton         8        -1
2661           Roth Stanley         8        -1
2805              Haidgword         8        -1
2839         Newton Rangers         8        -1
2879               Rocklant         8        -1
2896            Woolvedhull         8        -1
2915                Pooking         8        -1
2991        Maby Sand Villa         8        -1
3012          Warkette Park         8        -1

In [13]:
clubs.head()

,name,division,position,league,tournament_name,tournament_type,owner_id,owner_address
id,,,,,,,,
78,Bead Stanley,3,-1,3,Division 3 - League 3,LEAGUE,1164,0x1839faea698cbae6ede826c09d943de1dba7dd96
85,Nordenhave,3,-1,2,Division 3 - League 2,LEAGUE,1164,0x1839faea698cbae6ede826c09d943de1dba7dd96
102,Martot Park,4,-1,7,Division 4 - League 7,LEAGUE,1164,0x1839faea698cbae6ede826c09d943de1dba7dd96
462,Emston Albion,5,-1,11,Division 5 - League 11,LEAGUE,1413,0x37a42e78a25539006ab038f17019f833b79516f9
676,Sough Rangers,5,-1,2,Division 5 - League 2,LEAGUE,1413,0x37a42e78a25539006ab038f17019f833b79516f9

In [12]:
# print order by position
print(clubs[["name", "division", "position"]].sort_values(["position", "division"]))

                       name  division  position
id
78             Bead Stanley         3        -1
85               Nordenhave         3        -1
102             Martot Park         4        -1
462           Emston Albion         5        -1
676           Sough Rangers         5        -1
1077        Leottle Rangers         5        -1
1314           Wirew Aylact         5        -1
1315        Sketfielke Park         5        -1
1450           Cleccle City         5        -1
1511         Ston Roch Town         5        -1
2715         Tawle Athletic         5        -1
2774            Muck Rovers         5        -1
2815     Poth Ear Wanderers         5        -1
706           Strer Rangers         6        -1
728                Tortford         6        -1
894     Coldon-up Wanderers         6        -1
1901       Mersfor Newsbort         6        -1
2388    Louryhitwool Albion         6        -1
604             Hart Rovers         7        -1
2180            Towsburmord         7        -1
2228            Ard Rangers         7        -1
2897           Ken Athletic         7        -1
498              Bred Villa         8        -1
503             Cole Albion         8        -1
521                 Hareham         8        -1
523           Holsover Park         8        -1
577      Blandsham Athletic         8        -1
1033           Wime Stanley         8        -1
1198         Farwood United         8        -1
1278  Accretworuth Athletic         8        -1
1291          Crach Rangers         8        -1
1302              Crimblech         8        -1
1332              Lowsbouth         8        -1
1508          Rydowle Villa         8        -1
1811               Soudstle         8        -1
1831          Bolebrielbury         8        -1
1834                 Alford         8        -1
2320       Trougham Rangers         8        -1
2453           Petcham City         8        -1
2551             Wood Villa         8        -1
2659             Weshungton         8        -1
2661           Roth Stanley         8        -1
2805              Haidgword         8        -1
2839         Newton Rangers         8        -1
2879               Rocklant         8        -1
2896            Woolvedhull         8        -1
2915                Pooking         8        -1
2991        Maby Sand Villa         8        -1
3012          Warkette Park         8        -1

In [ ]:
# save to csv
# clubs[["name", "division", "position", "owner_id", "owner_address"]].sort_values(
#     ["division", "position"]
# ).to_csv("clubs.csv")